<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>258051050356-3b37e3lcphosuisrfm85pda4v4u2ou68.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258051050356-3b37e3lcphosuisrfm85pda4v4u2ou68</string>
	<key>API_KEY</key>
	<string>AIzaSyABAesKMjMsS9XrnHo73xiPs5WF_6ie5yk</string>
	<key>GCM_SENDER_ID</key>
	<string>258051050356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.memory.app</string>
	<key>PROJECT_ID</key>
	<string>memory-app-a2758</string>
	<key>STORAGE_BUCKET</key>
	<string>memory-app-a2758.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258051050356:ios:98ee971e28144bfb68ba21</string>
</dict>
</plist>